<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Lista de Usuários</title>
</head>
<body>
    <div class="container mt-4">
        <h1>Lista de Usuários</h1>
        <a href="{{url_for('users.register')}}" class="btn btn-primary">Adicionar</a>
        <hr>
        {% for user in users %}
            <p class="lead">{{user.nome}}</p>
        {% endfor %}
    </div>
</body>
</html>
