* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(to right, #5f72bd, #aa4aeb);
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.button-group button {
    background-color: #fff;
    color: #5f72bd;
    border: none;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-group button:hover {
    background-color: #ececec;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal centralizado */
.modal-content {
    background-color: #ffffff;
    color: #333;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.4s;
}


.modal-content h2 {
    margin-bottom: 20px;
    color: #5f72bd;
}

.modal-content input[type="text"],
.modal-content input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.modal-content button {
    background-color: #5f72bd;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

.modal-content button:hover {
    background-color: #3f4c9e;
}

.radio-group {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 20px;
}

.close {
    color: #aaa;
    font-size: 28px;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}

.close:hover {
    color: #333;
}

/* Animação de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

/* Animação de saída */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }
}

.modal.fade-out .modal-content {
    animation: fadeOut 0.4s forwards;
}