* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

.container {
    display: table;
    width: 80%;
    margin: 0 10%;
}

header, footer {
    display: table-row;
    width: 100%;
    height: 120px;
    background-color: chartreuse;
}

.conteudo {
    display: table;
    width: 100%;
}

aside {
    display: table-cell;
    width: 20%;
    height: 300px;
    background-color: aqua;
}

section {
    display: table-cell;
    width: 80%;
    height: 300px;
    background-color: beige;
}