<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Instalation - Laravel 10.x - The PHP Framework For Web Artisans</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="textHeader">
                <svg width="20px" heigth="20px" class="w-5 h-5 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" color="white"></path></svg>
                <p class="textLetsGo">Let's go to Europe! Tickets are now available for <a href="https://laracon.eu/">Laracon EU</a></p>
            </div>
        </div>
        <div class="conteudo">
            <div class="menuLateral">
                <div class="logoLaravelLateral">
                    <img style="padding-right: 20px;" src="logomark.min.svg" alt="">
                    <img src="logotype.min.svg" alt="">
                </div>
                <input type ="checkbox" id="nav-button">
                <label for="nav-button" id="labelmenu">&#9776;</label> 
                <aside class="menu">
                    <ul>
                        <li><a href="">Prologue</a></li>
                        <li><a href="">Getting Started</a></li>
                        <li><a href="">Architecture Concepts</a></li>
                        <li><a href="">The Basics</a></li>
                        <li><a href="">Digging Deeper</a></li>
                    </ul>
                </aside>
            </div>
            <div class="menuPrincipal">
                <input type="text">
                <h1>Instalation</h1>
            </div>
        </div>
    </div>
</body>
</html>