<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQLITE 3</title>

    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">


    {% block link %}
        
    {% endblock %}

</head>
<body>

    <div class="container">
        <div class="nav">
            <h2><a href="{{url_for('index')}}">Users</a></h2>
            <h2><a href="{{url_for('create')}}">Add</a> </h2>
        </div>
        <div class="main">
            {% block conteudo %}
                
            {% endblock %}
        </div>
    </div>
    
    
</body>
</html>