{% extends 'layout.html' %}

{% block navbar %}
<h2><a href="{{url_for('index')}}">Home</a></h2>
<h2><a href="{{url_for('create_user')}}">Add Users</a></h2>
<h2><a href="{{url_for('listar')}}">Listar Users</a></h2>
<h2><a href="{{url_for('create_peca')}}">Add Peças</a></h2>
<h2><a href="{{url_for('listar_pecas')}}">Listar Pecas</a></h2>
<h2><a href="{{url_for('create_danca')}}">Add Danças</a></h2>
<h2><a href="{{url_for('listar_dancas')}}">Listar Danças</a></h2>
{% endblock %}

{% block conteudo %}
<form action="{{url_for('edit', id=peca['id'])}}" method="POST">
    <label for="titulo">
        titulo
    </label>
    <input type="text" name="titulo" value="{{peca['titulo']}}">
    <button>Enviar</button>
</form>
{% endblock %}