* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: #F6F2FF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* === Barra Lateral === */

.barra_lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #6368D9;
    width: 5%;
    height: 100vh;
    order: 0;
}

.botao {
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
}

.img_barra_lateral {
    width: 30px;
    height: 30px;
}

/* Título/Cabeçalho da página */

.conteudo .header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 11.5%;
}

.conteudo .header > h1 {
    color: #6368D9;
    font-size: 25px;
    margin-left: 20px;
}

/* Parte do main */

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
}

/* Perfil */

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40%;
}

.profileInterior {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%; 
    align-items: center;
}

.imgProfile {
    border-radius: 1000px; 
    border: 2px solid #6368D9;
    width: 222px;
    height: 222px;
    margin-right: 25px;
}

.buttonEditProfile {
    background-color: #D1D0F9;
    border-radius: 50px;
    width: 60%;
    height: 20%;
    color: #6368D9;
    border: 1px solid #6368D9;
}

.textPerfil {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.buttonProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75%;
    height: 40px;
    margin-bottom: 10px;
    background-color: #D1D0F9;
    border-radius: 25px;
    padding-left: 20px;
    color: #6368D9;
    border: 1px solid #6368D9;
}

.buttonsProfile, .buttonsProfile > a {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 40%;
    justify-content: space-evenly;
}

.buttonsProfile > a {
    text-decoration: none;
}

/* Painel de tarefas */

.painelTask {
    border: 1px solid #6368D9;
    display: flex;
    flex-direction: column;
    background-color: #6368D9;
    border-radius: 25px;
    width: 75%;
    height: 40%;
}

.painelTaskInterior {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.imageCaderno {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 22%;
    height: 40%;
    margin-right: 4px;
}

.textPainelTask {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 75%;
    justify-content: space-evenly;
    padding: 10px;
    color: white;
}

.buttonDetails {
    background-color: #D1D0F9;
    border-radius: 50px;
    width: 50%;
    height: 18%;
    color: #6368D9;
}

/* Responsividade */

@media screen and (max-width:1080px) {
    .container {
        flex-direction: column;
        justify-content: space-between;
    }

    .barra_lateral {
        order: 1;
        width: 100%;
        height: 10%;
        flex-direction: row;
        justify-content: space-around;
    }

    .main {
        height: 100%;
    }

    #row_2 {
        display: none;
    }

    #row_1 {
        justify-content: center;
        width: 100%;
        height: 150%;
    }
} 