<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pagetitle %} Auth Template {% endblock %}</title>

    {% block styles %} {% endblock %}

</head>
<body>

    {% block header %} {% endblock %}

    {% block masthead %} {% endblock %}

    {% block scripts %} {% endblock %}
    
    {% block portfolio %} {% endblock %}

    {% block about %} {% endblock %}

    {% block contact_section %} {% endblock %}

</body>
</html>