* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: #F6F2FF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* === Barra Lateral === */

.barra_lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #6368D9;
    width: 60px;
    height: 100vh;
}

.botao {
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
}

.img_barra_lateral {
    width: 30px;
    height: 30px;
}

/* Conteúdo */

.conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}


/* Título/Cabeçalho da página */

.conteudo .header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 11.5%;
}

.conteudo .header > h1 {
    color: #6368D9;
    font-size: 25px;
    margin-left: 8px;
}

.header > button {
    margin-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
}

.header > button > img {
    width: 30px;
    height: 30px;
}

/* Inputs iniciais */

.initialInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40%;
    justify-content: space-evenly;
}

.titleInput, .timeInput > h1, .categorias2 > h1, .descricaoInterior > h1 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #6368D9;
}

.timeInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.timeInput {
    display: flex;
    flex-direction: column;
    width: 45.5%;
}

.divInput {
    width: 94%;
}

.initialInputs .divInput > input, .timeInput > input, .descricaoInterior > input {
    background-color: #F6F2FF;
    border: 1px solid #6368D9;
    color: #6368D9;
    border-radius: 25px;
    height: 40px;
    outline: none;
    padding-left: 10px;
}

.initialInputs .timeInputs {
    display: flex;
}

/* Categorias */

.container .categorias {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18%;
    justify-content: space-between;
}

.categorias2 {
    display: flex;
    flex-direction: column;
    width: 94%;
}

.categorias2 > h1 {
    margin-top: 2px;
}

.rowButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
}

.rowButtons > button {
    width: 30%;
    border: 1px solid #6368D9;
    background-color: #D1D0F9;
    color: #6368D9;
    border-radius: 50px;
}

/* Descrição */

.descricao {
    display: flex;
    width: 100%;
    height: 45%;
    align-items: center;
    justify-content: center;
}

.descricaoInterior {
    width: 94%;
}

.descricaoInterior > input {
    width: 100%;
    height: 185px;
}