<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de {{ dado }}</title>
</head>
<body>
    <h1>Resultados de {{ dado }}</h1>
    <ul>
        {% for distancia, tempo in resultados %}
            <li>Distância: {{ distancia }}, Tempo: {{ tempo }}</li>
        {% else %}
            <li>Sem resultados registrados.</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_result') }}">Adicionar Mais Resultados</a>

    <h1>Essa página é a do FILTRO!</h1>
</body>
</html>