<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 03</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="title">
                <h1>Power Grid: Store or Homepage</h1>
            </div>
        </header>
        <div class="navegation_header">
            <button class="botoesNav"> Home </button>
            <button class="botoesNav"> About </button>
            <button class="botoesNav"> Blog </button>
            <button class="botoesNav"> Careers </button>
            <button class="botoesNav"> Contact Us </button>
        </div>
        <main class="conteudo">
            <div class="cards">
                <img class="imgmacaco" src="macaquinho.jpg" alt="">
                <p> Macaco Luffy </p>
                <button> Click me </button>
            </div>
            <div  class="cards">
                <img class="imgmacaco" src="macaquinho.jpg" alt="">
                <p> Macaco Luffy </p>
                <button> Click me </button>
            </div>
            <div class="cards">
                <img class="imgmacaco" src="macaquinho.jpg" alt="">
                <p> Macaco Luffy </p>
                <button> Click me </button>
            </div>
        </main>
        <footer class="rodape">
            Copyright © 2016
        </footer>
    </div>
</body>

</html>