<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 03</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="title">
                <h1>Layout 03</h1>
            </div>
            <div class="navegation_header">
                <div class="link"><a href="index.html">Home</a></div>
                <div class="link"><a href="products.html">Produtos</a></div>
                <div class="link"><a href="contact.html">Contato</a></div>
            </div>
        </header>
        <main class="conteudo">
            <h1>Conteúdo</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, explicabo, necessitatibus
                veniam hic amet saepe eius rerum facilis laborum non ratione? Rem alias error necessitatibus
                perferendis non. Sint, aperiam aliquid! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Incidunt a quasi quam, ea voluptate placeat fugiat consectetur veritatis dolores provident
                libero dolorem ullam eaque, quisquam non impedit possimus tenetur magnam. Lorem, ipsum dolor
                sit amet consectetur adipisicing elit. Quibusdam, assumenda tenetur, consequuntur quasi hic
                eius est fuga ratione consequatur explicabo nam impedit adipisci. Accusamus porro rerum repellendus
                qui minima iusto? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam a ipsa praesentium
                cupiditate perferendis tempore iste id, porro nulla laborum quia repellendus quidem nihil iusto ratione
                consequatur accusamus, non enim?</p>
        </main>
        <footer class="rodape">
            Feito por João Lucas
        </footer>
    </div>
</body>

</html>