<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="title">
                <h1>Produtos</h1>
            </div>
            <div class="navegation_header">
                <div class="link"><a href="index.html">Home</a></div>
                <div class="link"><a href="products.html">Produtos</a></div>
                <div class="link"><a href="contact.html">Contato</a></div>
            </div>
        </header>
        <main class="conteudo">
            <h1>Produto 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, debitis hic. Saepe labore assumenda 
                facilis tenetur veniam nisi ipsam earum dignissimos, perferendis iusto exercitationem amet mollitia 
                sit ab, doloribus delectus.</p>
            <h1>Produto 2</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, debitis hic. Saepe labore assumenda 
                facilis tenetur veniam nisi ipsam earum dignissimos, perferendis iusto exercitationem amet mollitia 
                sit ab, doloribus delectus.</p>
            <h1>Produto 3</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, debitis hic. Saepe labore assumenda 
                facilis tenetur veniam nisi ipsam earum dignissimos, perferendis iusto exercitationem amet mollitia 
                sit ab, doloribus delectus.</p>
            <h1>Produto 4</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, debitis hic. Saepe labore assumenda 
                facilis tenetur veniam nisi ipsam earum dignissimos, perferendis iusto exercitationem amet mollitia 
                sit ab, doloribus delectus.</p>
        </main>
        <footer class="rodape">
            Feito por João Lucas
        </footer>
    </div>
</body>
</html>