<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assine Globoplay, combos e muito mais | Vitrine Globo</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans"  rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="" class="menuLateral"><img src="list3.svg" alt=""></a>
            <img src="vitrineglobo_2.svg" alt="">
            <div style="display: flex; justify-content: center; align-items: center;">
                <a class="linkEntrar" href="indexadiquira.html">Entrar</a>
                <a class="linkEntrar" href="">ㅤ</a>
                <a style="margin-right: 25px;" class="linkEntrar" href="">
                    <img src="user-icon.svg" alt="">
                </a>
            </div>
        </div>
        <div class="conteudo">
            <div class="textos" style="display: flex; flex-direction: column;">
                <img style="width: 73%; margin-bottom: 25px;" src="logo_globoplay.svg" alt="">
                <div class="caixaTextoHero"> 
                    <p id="maratona4meses">Tudo para a sua maratona com 4 meses de economia no Plano Anual. 
                    Assine o Globoplay e curta as melhores novelas, filmes e séries!</p>
                </div>
                <div class="maiorzona" style="display: flex; height: 160px;">
                    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <p style="font-size: 26px; font-weight: bold;" id="planoAnual">Plano Anual</p>
                    </div>
                    <div class="divValores">
                        <p id="valorAntigo" class="valores">De R$ 298,90</p>
                        <p id="valorReal" class="valores">
                            <span id="t12x"> 12x </span>
                            <span id="t1490">R$ 14,90</span>
                        </p>
                        <p id="valorTotal" class="valores">Total: R$ 178,80</p>
                    </div>
                </div>
                <a style="text-decoration: none;" href="login_page.html"><button id="botaoConteudo1" class="botoesConteudo">Assine já</button></a>
                <button id="botaoConteudo2" class="botoesConteudo">Conheça outros planos</button>
            </div>
            <img class="heroImg" src="Hero_globoplay_4meses2.webp" alt="">
        </div>
    </div>
</body>
</html>