<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleadiquira.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans"  rel="stylesheet">
    <link rel="shortcut icon" href="globo_icon.png" type="image/x-icon">
    <title>Conta Globo - Login - E-mail</title>
</head>
<body>
    <div class="main">
        <img id="contra_globo" src="conta_globo.svg" alt="">
        <p id="mensagem_inicial"><strong>Sua conta para tudo na Globo</strong></p>
        <img id="logos_globo" src="logos_globo.svg" alt="">
        
        <div class="login">
            <p id="email">E-mail</p>
            <input id="input" placeholder="Informe o seu e-mail" type="text">
        </div>
        <button id="continuar">Continuar</button>

        <p id="outra_opção">Ou escolha a opção</p>
        <div class="outras_opções">
            <a href="https://accounts.google.com/o/oauth2/v2/auth/oauthchooseaccount?scope=openid%20profile%20email&prompt=consent&response_type=code&state=10c980ed-e9a9-455e-9c89-ae040a0a73ac&redirect_uri=https%3A%2F%2Fauthx.globoid.globo.com%2Fcallback%2Flogin%2Fgoogle&client_id=661523407538-jh6q0032nglejsmpckltu79e8o11i9a2.apps.googleusercontent.com&service=lso&o2v=2&theme=glif&flowName=GeneralOAuthFlow">
                <button class="opção" id="entrar_google">
                    <img id="logo_google" src="logo_google.svg" alt="Google">
                    <p id="texto_google">Continuar com Google</p>
                </button>
            </a>
            <a href="https://www.facebook.com/login.php?skip_api_login=1&api_key=289255557788943&kid_directed_site=0&app_id=289255557788943&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fv17.0%2Fdialog%2Foauth%3Fclient_id%3D289255557788943%26redirect_uri%3Dhttps%253A%252F%252Fauthx.globoid.globo.com%252Fcallback%252Flogin%252Ffacebook%26state%3D3e1f901d-501e-4493-8f3c-ee5418b285ed%26ret%3Dlogin%26fbapp_pres%3D0%26logger_id%3D873cf836-98a3-4d9d-a072-adb87c5419f6%26tp%3Dunspecified&cancel_url=https%3A%2F%2Fauthx.globoid.globo.com%2Fcallback%2Flogin%2Ffacebook%3Ferror%3Daccess_denied%26error_code%3D200%26error_description%3DPermissions%2Berror%26error_reason%3Duser_denied%26state%3D3e1f901d-501e-4493-8f3c-ee5418b285ed%23_%3D_&display=page&locale=pt_PT&pl_dbl=0">
                <button class="opção" id="entrar_facebook">
                    <img id="logo_facebook" src="logo_facebook.svg" alt="Facebook">
                    <p id="texto_facebook">Continuar com Facebook</p>
                </button>
            </a>
        </div>
        <div class="cadastro">
            <p id="cadastrar">Não tem conta? <a id="cadastrar_link" href="cadastro_page.html">Criar conta</a></p>
        </div>
        <div class="termos">
            <p id="texto_termos">Este site é protegido pelo hCaptcha e está sujeito a sua <a id="link_termos" href="https://www.hcaptcha.com/privacy">Política de privacidade</a> e <a id="link_termos" href="https://www.hcaptcha.com/terms">Termos de Uso</a></p>
        </div>
    </div>
</body>
</html>