<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style_adiquiraja.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans"  rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
</head>
<body>
    <div class="container">
        <div class="header">
        </div>
        <div class="conteudo">        
            <img class="imgContaGlobo" src="conta globo.svg" alt="">
            <div style="width: 250px;">
                <h1 id="textoConta">Uma só conta para todos os produtos Globo</h1>
            </div>

            <div style="width: 301px;">
                <h1 class="textoInfo" id="textoEmail">E-mail</h1>
                <input class="inputs" type="email" name="" id="inputEmail">
            </div>
            <a class="linkEsquecidos" href="">Esqueceu seu e-mail?</a>

            <div style="width: 301px;">
                <h1 class="textoInfo" id="textoSenha">Senha</h1>
                <input class="inputs" type="password" name="" id="inputSenha">
            </div>
            <a class="linkEsquecidos" href="">Esqueceu sua senha?</a>

            <button class="botaoEntrar">ENTRAR</button>
            <p style="color: #444444; font-size: 14px; margin-top: 10px;">Não tem conta? <a id="linkCadastrar" href="cadastro_page.html">CADASTRE-SE</a>.</p>
            
            <div class="divider">
                <div class="linha"></div>
                <div style="width: 137.15px;">
                    <h1>ou entre com</h1>
                </div>
                <div class="linha"></div>
            </div>

            <div class="botoes">
                <a style="text-decoration: none;" href="https://www.facebook.com/login/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjk1OTY4ODkxLCJjYWxsc2l0ZV9pZCI6MjY5NTQ4NDUzMDcyMDk1MX0%3D">
                    <button id="botaoFace" class="botaoRedesSociais">
                        <img style="width: 20px; height: 20px; margin-right: 8px;" src="facebook_logo.svg" alt="">
                        <p class="textosBtn">Facebook</p>
                    </button>
                </a>
                <a style="text-decoration: none;" href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fwww.google.com%2Fsearch%3Fclient%3Dopera-gx%26q%3Dgoogle%2Bentrar%26sourceid%3Dopera%26ie%3DUTF-8%26oe%3DUTF-8&ec=GAZAAQ&hl=pt-BR&ifkv=AYZoVhe5IPJRRb_7y_MW6aADho3tR85KqEQyiy_juaQKqw_OfUFZQdBGm_i-9Epl_t6UWy7tOPo_ZQ&passive=true&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S1157645355%3A1695969011447523&theme=glif">
                    <button id="botaoGoogle" class="botaoRedesSociais">
                        <img style="width: 20px; height: 20px; margin-right: 8px;" src="google_logo.svg" alt="">
                        <p class="textosBtn">Google</p>
                    </button>
                </a>
            </div>

            <div class="copy">
                <p class="copyParagrafo">Este site é protegido pelo hCaptcha e está sujeito a sua 
                <a class="copyParagrafo copyLink" href="https://www.hcaptcha.com/privacy">Política de Privacidade</a> e <a class="copyParagrafo copyLink" href="https://www.hcaptcha.com/terms">Termos de Uso</a>.</p>
            </div>
        </div>
    </div>
</body>
</html>