{% extends 'layouts/auth.html' %}

{% block page_tigle %}
Register
{% endblock %}

{% block form %}
<h2>Register</h2>
<form action="{{url_for('auth.register')}}" method="POST">
    <div class="group">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email">
    </div>
    <div class="group">
        <label for="nome">Nome</label>
        <input type="text" name="nome" placeholder="Nome">
    </div>                
    <div class="group">
        <label for="senha">Senha</label>
        <input type="password" name="senha" placeholder="Senha">
    </div>
    <input type="submit" value="Enviar">
</form> 
{% endblock %}