{% extends 'layouts/layout.html' %}

{% block page_title %}
    Dashboard
{% endblock %}

{% block content %}

<div class="news">
    <div class="card">
        <h3>Notícia Nova</h3>
        <span>18/12/2024</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt cum saepe itaque impedit praesentium, ratione, adipisci consequatur reiciendis unde possimus cumque omnis id voluptatum nihil veniam, modi enim. Dicta, tempore?</p>
    </div>
    <div class="card">
        <h3>Notícia Nova</h3>
        <span>18/12/2024</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt cum saepe itaque impedit praesentium, ratione, adipisci consequatur reiciendis unde possimus cumque omnis id voluptatum nihil veniam, modi enim. Dicta, tempore?</p>
    </div>
    <div class="card">
        <h3>Notícia Nova</h3>
        <span>18/12/2024</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt cum saepe itaque impedit praesentium, ratione, adipisci consequatur reiciendis unde possimus cumque omnis id voluptatum nihil veniam, modi enim. Dicta, tempore?</p>
    </div>
    <div class="card">
        <h3>Notícia Nova</h3>
        <span>18/12/2024</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt cum saepe itaque impedit praesentium, ratione, adipisci consequatur reiciendis unde possimus cumque omnis id voluptatum nihil veniam, modi enim. Dicta, tempore?</p>
    </div>
    <div class="card">
        <h3>Notícia Nova</h3>
        <span>18/12/2024</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt cum saepe itaque impedit praesentium, ratione, adipisci consequatur reiciendis unde possimus cumque omnis id voluptatum nihil veniam, modi enim. Dicta, tempore?</p>
    </div>
</div>
<div class="images">
    <div class="card">
        <img src="{{url_for('static', filename='img/imagem.png')}}" alt="imagem">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ad distinctio totam a quibusdam sequi quis pariatur enim corrupti sapiente quam repellat, perferendis minima fugit voluptatibus. Nostrum aliquid sapiente autem?</p>
    </div>
    <div class="card">
        <img src="{{url_for('static', filename='img/imagem.png')}}" alt="imagem">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ad distinctio totam a quibusdam sequi quis pariatur enim corrupti sapiente quam repellat, perferendis minima fugit voluptatibus. Nostrum aliquid sapiente autem?</p>
    </div>
    <div class="card">
        <img src="{{url_for('static', filename='img/imagem.png')}}" alt="imagem">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ad distinctio totam a quibusdam sequi quis pariatur enim corrupti sapiente quam repellat, perferendis minima fugit voluptatibus. Nostrum aliquid sapiente autem?</p>
    </div>
</div>
    
{% endblock %}

